/* Estilos generales */
*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


body ::selection{
    color: #000;
    background-color: #d61919d5;
}

li{
    list-style: none;
}
a{
    text-decoration: none;
}
/* Fin estilos generales */

/* Estilos Header */
.logo-navbar{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: solid 3px #fff;
}

.nav-item a{
    color: #fff;
    font-weight: 700;
    transition: all .5s;
    text-transform: uppercase;
    font-size: 1.2rem ;
}

.nav-item a:hover{
    color: #fff;
    transform: translateY(-10px);
}

#header{
    background-color: #000;
}

.logo-navbar{
    transition: all .5s;
}
.logo-navbar:hover{
    transform: translateY(-10px);
}

.navbar-toggler-icon{
    background-color: #fff;
    border-radius: 5px;
    width: 2rem !important;
    height: 2rem !important;
}

/* Fin estilos header */

/* Estilos primera section */
    .carrusel-options>img{
        width: 100%;
        height: 500px;
        background-size: auto;
    }

    @media screen and (max-width: 768px) {
        .carrusel-options>img{
            height: 300px;
        }
    }
/* Fin estilos primera section */

/* Estilos section 2 somos */
    #somos{
        width: 100%;
        color: #000;
    }

    #somos h2{
        text-transform: uppercase;
        font-size: 2.5rem;
        color: #000;
    }

    @media screen and (max-width: 991px) {
    .somos-video{
        margin-top: 3rem !important;
    }

    .somos-text{
        text-align: center;
    }
}
/* fin estilos section 2 somos */

/* inicio estilos servicios */

    #servicios h2{
        font-size: 2.5rem;
        color: #000;
    }

    #servicios{
        border-top: solid 3px #000;
    }

    .img-card>img{
        width: 100%;
        justify-content: center;
    }

    .card-container{
        width: 400px !important;
        padding: 0% !important;
        transition: all .5s ease;
        cursor: pointer;
    }

    .card-container:hover{
        transform: scale(1.1);
        box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.2);
    }

    .card-text{
        text-transform: uppercase;
        font-weight: 700;
        font-size: 1.5rem;
        color: #000;
    }

    @media screen and (max-width: 977px) {
        .card-container:hover{
            transform: none;
        }
    }
/* fin estilos servicios */

/* estilos artistas */

    #artistas{
        border-top: solid 3px #000;
    }

    #artistas h2{
        color: #000;
        font-size: 2.5rem;
    }

    .card-artistas{
        width: 300px !important;
        padding: 0% !important;
        transition: all .5s ease;
        cursor: pointer;
    }

    .card-artistas:hover{
        transform: scale(1.1);
        box-shadow: 5px 5px 20px 10px rgba(0, 0, 0, 0.2);
    }
/* fin estilos artistas */

/* estilos contacto */
    #contacto{
        border-top: solid 3px #000;
    }

    #contacto h2{
        color: #000;
        font-size: 2.5rem;
    }

    .btn{
        text-transform: uppercase;
    }
/* fin contacto*/

/* inicio footer */

    footer{
        background-color: #000;
}

.img-footer{
    width: 150px;
    transition: all .8s ease;
}

.img-footer:hover{
    transform: rotate(360deg) scale(1.1);
}
.item-footer{
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    font-weight: 500;
    font-size: 1.2rem;
}
.item-footer:hover{
    color: #fff;
}
.nav-footer li{
    transition: all .5s ease;
}
.nav-footer li:hover{
    transform: translateX(30px);
}

.text-footer{
    color: #fff;
}

.text-credits{
    font-weight: 500;
}
/* fin footer */